body{
    display: flex;
    height:100%;
    background-color: #ebdcb2;
    font-family: Verdana, Tahoma, sans-serif;
    color: #752a07;
} 
* {
    box-sizing: border-box;
}

.container{
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 30% 40% 10%;
    grid-gap: 5px 5px;
    grid-template-areas: 
    "topbar topbar topbar"
    "section section sidebar"
    "section section sidebar"
    "footer footer footer";
}
.card{
    width: auto;
    height: auto;
    display: flex;
    padding: 3rem;
}
#topbar{
    display: flex;
    flex-flow: row wrap;
    grid-row: 1/2;
    grid-column: 1/4;
    border: 2px solid red;
    padding: 0px;  
    background-color: #b38867;
    position: static;   
}
#main{
    grid-row: 3/5;
    grid-auto-rows: minmax(150px, auto);
    grid-column: 1/3;
    border: 2px solid red; 
    background-color: #fbcb7b;    
}
#sidebar-top{
    display: flex;
    flex-flow: row wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 5px;
    grid-row: 3/4;
    grid-column: 3/4;
    border: 2px solid red;
}   
#sidebar-bottom{
    grid-row: 4/5;
    grid-column: 3/4;
    border: 2px solid red; 
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;   
}
aside{
    display:flex;
    flex-flow: wrap;
    background-color: #fbcb7b;
}
aside h2{
    margin: 10px;
}
aside li a{
    display: block;
    align-items: flex-start;
    text-decoration: none;
    padding: 10px;
}
#footer-main{
    grid-row: 5/6;
    grid-column: 1/4;
    border: 2px solid red;
    background-color: #538659;    
}
footer{
    display: inline-block;
    align-items: center;
    list-style-type: none; 
    justify-content: space-evenly;
    padding: 40px 50px;
    align-items: baseline;   
}
.card-ft{
    padding:0px;
}
footer a{
    text-decoration: none;
}    
.card-image{
    width:150px;
    height: 150px;
    float:left;
    border-radius: 30px;
}
.card-details {
    justify-content: space-evenly;
    padding: 5px;
    margin: 0px;
    }
.card-details h2{
    margin: 0px;
}    
.card-details a {
    align-self: flex-start;
}
.social{
    float: right;
}
.icon-bar a{
    display:inline-block;
    text-align: center;
    font-size: 30px;
}
.facebook{
    color: #3b5998;

}
.twitter{
    color: #55acee;
}
.linkedin{
    color: #007bb5;
}
.share{
    color: whitesmoke;
}
#navbar{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(100px, 1fr));
    grid-row: 2/3;
    grid-column: 1/4;
    border: 2px solid transparent;  
    padding: 0px; 
    background-color: #fbcb7b;
    font-weight: bold; 
}
nav li{
    display: inline-block;
    padding: 20px;
    align-items: center;
    list-style-type: none;
}
nav li a{
    justify-content: space-evenly;
    padding: 40px 50px;
    align-items: baseline;
    text-decoration: none;
    list-style-type: none;
}
a{
    color: #752a07;  
}
a:hover{
    background-color: rgb(243, 66, 66);
    transition: 0.5s;
}
.button{
    text-align: right;
    color:green;
    border-color: green;
}